@font-face {
  font-family: "SF Compact Display";
  font-style: normal;
  font-weight: 400;
  src: url("../src/app/assets/fonts/SF-Compact-Display-Regular.otf"); /* IE9 Compat Modes */
}

.primary_color {
  background: #70e6d4;
}

.primary_variant_color {
  background: #fcec6e;
}

.secondary_color {
  color: #000;
}

.secondary_variant_color {
  background: #66ff00;
}

.background_color {
  background: #ffffff;
}

.surface_color {
  background: #fbfbfb;
}

.error_color {
  color: #b00020;
}

.navbar {
  z-index: 10;
  overflow: hidden;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #2e2e2e;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: #70e6d4;
}

.navbar a.active {
  background-color: #4caf50;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu {
  position: absolute;
  width: 107px;
  height: 100%;
  background: #111111;
}

.fullscreen {
  min-height: 100vh;
}

.window-frame {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 580px;
  min-width: 1000px;
  background: #ffffff;
  border: 6px solid #2e2e2e;
  border-radius: 10px 10px 0px 0px;
}

.window-content {
  z-index: 1;
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 550px;
  min-width: 1000px;
  border: 6px solid #2e2e2e;
}
